@import 'fonts.scss';
@import 'functions.scss';
@import 'mixins.scss';
@import './vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $primary-text-color;
}

.container__secondary {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  width: 100%;
  @include adaptive-hero(padding-right, 60, 15);
  @include adaptive-hero(padding-left, 60, 15);
  position: relative;
  @media (min-width: 1280px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}
.hidden {
  overflow: hidden;
}

.container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  width: 100%;
  @include adaptive-hero(padding-right, 60, 10);
  @include adaptive-hero(padding-left, 60, 10);
  position: relative;

  @media (min-width: 1280px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.component {
  &__underline {
    text-decoration: underline;
    text-decoration-color: $header-color;
    text-decoration-skip-ink: none;
    @include adaptive-hero(text-decoration-thickness, 11, 8);
    text-underline-offset: -3px;

    @media (min-width: 1280px) {
      text-decoration-thickness: 11px;
    }
  }

  &__button {
    &-yellow {
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;

      &::after {
        content: '';
        display: block;
        width: 120%;
        height: 120%;
        position: absolute;
        left: -10px;
        top: -3px;
        -webkit-transform: translate(-110%, 50%) rotate(10deg);
        -ms-transform: translate(-110%, 50%) rotate(10deg);
        transform: translate(-110%, 50%) rotate(10deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        will-change: transform;
        z-index: -1;
        border-radius: 80px;
        -webkit-transition: all 0.3s ease, background-color 0.7s ease;
        transition: all 0.3s ease, background-color 0.7s ease;

        background-color: $primary-text-color;
      }

      &:hover {
        transform: scale(1.07);
        outline: 1px solid $header-color;
        & span {
          position: relative;
          z-index: 3;
          color: $whiteF;
        }
        &::after {
          z-index: 2;
          transform: translate(0, 0) rotate(0);
        }
      }
    }

    &-black {
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;

      & span {
        color: $whiteF;
      }

      &::after {
        content: '';
        display: block;
        width: 120%;
        height: 120%;
        position: absolute;
        left: -10px;
        top: -3px;
        -webkit-transform: translate(-110%, 50%) rotate(10deg);
        -ms-transform: translate(-110%, 50%) rotate(10deg);
        transform: translate(-110%, 50%) rotate(10deg);
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        will-change: transform;
        z-index: -1;
        border-radius: 80px;
        -webkit-transition: all 0.3s ease, background-color 0.7s ease;
        transition: all 0.3s ease, background-color 0.7s ease;

        background-color: $header-color;
      }

      &:hover {
        transform: scale(1.07);
        outline: 1px solid $primary-text-color;
        & span {
          position: relative;
          z-index: 3;
          color: $primary-text-color;
        }
        &::after {
          z-index: 2;
          transform: translate(0, 0) rotate(0);
        }
      }
    }
  }
}

.error__field {
  color: rgb(249, 121, 106);
  font-size: 0.75rem;
  position: absolute;
  top: -20px;
  left: 0;
  font-family: Montserrat;

  @media (max-width: 768px) {
    position: static;
  }
}

.error__field-proj {
  color: rgb(249, 121, 106);
  font-size: 0.75rem;

  font-family: Montserrat;

  @media (max-width: 768px) {
    position: static;
  }
}

.error {
  color: rgb(249, 121, 106);
  font-size: 0.75rem;
  font-family: Montserrat;
}

.success {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 320px;
  padding: 15px;
  border-radius: 0 0 0 10px;
  background-color: $primary-text-color;
  color: rgb(138, 243, 138);
  transition: all 0.2s ease;
  font-family: Montserrat;
  font-size: 0.75rem;
  font-weight: 400;
  z-index: 40;

  @media (max-width: 768px) {
    max-width: 100%;
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
}

.success__none {
  transform: translateX(100%);

  @media (max-width: 768px) {
    transform: translateY(-100%);
  }
}

// Ленивая загрузка

._lazy {
  background-image: url('../img/bublick.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
}

._loading-icon {
  background-image: url('@img/bublick.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
}

// Анимация начало

._anim-show-scale {
  transform: scale(0);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show-scale._active {
  opacity: 1;
  transform: scale(1);
}

._anim-show-right {
  transform: translate(30%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show-right._active {
  opacity: 1;
  transform: translate(0px, 0px);
}

._anim-show-left {
  transform: translate(-30%, 0px);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show-left._active {
  opacity: 1;
  transform: translate(0px, 0px);
}

._anim-show-top {
  transform: translate(0px, -120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show-top._active {
  opacity: 1;
  transform: translate(0px, 0px);
}

._anim-show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0px, 0px);
}

._anim-delay__1 {
  transition-delay: 0.2s !important;
}

._anim-delay__2 {
  transition-delay: 0.5s !important;
}

._anim-delay__3 {
  transition-delay: 0.7s !important;
}

._anim-delay__4 {
  transition-delay: 0.9s !important;
}

._anim-delay__5 {
  transition-delay: 1.1s !important;
}

._anim-delay__6 {
  transition-delay: 1.3s !important;
}

._anim-delay__card-1 {
  transition-delay: 0.2s !important;
  @media (max-width: 640px) {
    transition-delay: 0s !important;
  }
}

._anim-delay__card-2 {
  transition-delay: 0.5s !important;
  @media (max-width: 640px) {
    transition-delay: 0s !important;
  }
}

._anim-delay__card-3 {
  transition-delay: 0.7s;
  @media (max-width: 640px) {
    transition-delay: 0s !important;
  }
}

._anim-delay__card-4 {
  transition-delay: 0.9s !important;
  @media (max-width: 640px) {
    transition-delay: 0s !important;
  }
}

._anim-delay__card-5 {
  transition-delay: 1.1s !important;
  @media (max-width: 640px) {
    transition-delay: 0s !important;
  }
}

// Анимация конец

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

label {
  position: relative;
}

input {
  outline: none;
  border: none;
}
