$maxWidth: 1440;
$maxWidthContainer: 1280;

$whiteF: #ffffff;
$black0: #000000;
$header-color: #ffd336;
$primary-text-color: #27272f;
$burger-color: #3d3737;
$text-footer-logo: #b5b5b5;
$input-color: #929292;
$border-card: #cfcfcf;
$border-welcome: #969696;
$gray-light: #717171;
$haki: #8d7c3d;
